* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.a {
    font-family: Work Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: #292929;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.btn1 {
    width: 216;
    height: 51;
    border-radius: 50px;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left: 35px;
    gap: 10px;
    border: none;
    background: #F3CB3E;
    font-family: Work Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}
.ashraf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 135px;
}