*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
max-width: 1440px;
margin: 0 auto;
}


.ota{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 60px;
}

h4{
    font-family: Work Sans;
font-weight: 400px;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
margin-top: 20px;
}
h1{
    font-family: Work Sans;
font-weight: 700px;
font-style: Bold;
font-size: 43px;
leading-trim: NONE;
line-height: 50px;
letter-spacing: 0%;
color: #292929;
margin-top: 20px;
}

span{
    color: #F3CB3E;
}
p{
    font-family: Work Sans;
font-weight: 400px;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
margin-top: 20px;
}

button{
    background-color: #F3CB3E;
    width: 154px;
height: 49px;
top: 462px;
left: 135px;
angle: 0 deg;
opacity: 1;
border-radius: 50px;
padding-top: 15px;
padding-right: 35px;
padding-bottom: 15px;
padding-left: 35px;
gap: 10px;
border: 2px solid #292929;
margin-top: 30px;
}

img{
    width: 516px;
height: 638px;
top: 118px;
left: 648px;
angle: 0 deg;
opacity: 1;

}